@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
:root {
  --blue: dodgerblue;
  --white: #fff;
}
html {
  scroll-behavior: smooth;
}
.max-width {
  transition: all 0.3s ease;
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
  min-width: 100%;
}

/* navbar styling */
.navbar {
  position: fixed;
  width: 100%;
  padding: 30px 0;
  z-index: 999;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 15px 0;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
  background: var(--blue);
}
.navbar .logo a {
  color: var(--white);
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a:hover {
  text-decoration: underline;
}

.navbar .logo a span {
  color: var(--blue);
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
  color: var(--white);
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: var(--white);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
}
.navbar .menu li a:hover {
  color: var(--blue);
  font-weight: 500;
  transition: color 0.3s ease;
}
.navbar.sticky .menu li a:hover {
  color: var(--white);
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* menu button styling */
.menu-btn {
  color: var(--white);
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 43px;
  background: var(--blue);
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 99999;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

/* home section styling */
.home {
  display: flex;
  background: url("https://i.pinimg.com/736x/2f/8d/f9/2f8df90126ce20c82eef4c9bb9c577b4.jpg")
    center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  color: var(--white);
  min-height: 500px;
  font-family: "Ubuntu", sans-serif;
}
.home .max-width {
  margin: auto 0 auto 40px;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: var(--blue);
  font-weight: 500;
}
.home .home-content a {
  display: block;
  background: var(--blue);
  color: var(--white);
  padding: 12px 36px;
  font-size: 25px;
  display: inline-block;
  border: 2px solid var(--blue);
  margin-top: 20px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.home .home-content a:hover {
  color: var(--blue);
  background: none;
}

/* about section styling */
/* also similar code */

section {
  padding: 100px 0;
}
.about,
.services,
.skills,
.teams,
.contact,
footer {
  font-family: "Poppins", sans-serif;
}
.teams {
  padding: 10px;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
}
section .title::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 3px;
  bottom: 0;
  left: 50%;
  background-color: #111;
  transform: translateX(-50%);
}
section .title::after {
  content: "";
  position: absolute;
  bottom: -13px;
  left: 50%;
  font-size: 20px;
  padding: 5px;
  color: var(--blue);
  background-color: #fff;
  transform: translateX(-50%);
}
.about .title::after {
  content: "who am i";
}
.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
}
.about .about-content .left {
  width: 45%;
}
.about .about-content .right {
  width: 55%;
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right .text span {
  color: var(--blue);
}
.about .about-content .right p {
  text-align: justify;
  font-weight: 500;
}
.about .about-content .right a {
  display: inline-block;
  background: var(--blue);
  color: var(--white);
  padding: 10px 30px;
  font-size: 20px;
  border: 2px solid var(--blue);
  margin-top: 20px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover {
  color: var(--blue);
  background: none;
}

/* service section styling */
.services,
.teams {
  color: var(--white);
  background-color: #111;
}
.services .title::before,
.teams .title::before {
  background-color: #fff;
}
.services .title::after,
.teams .title::after {
  background-color: #111;
  content: "what i provide";
}
.services .serv-content .card {
  width: calc(33% - 20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 20px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.services .serv-content .card:hover {
  background: var(--blue);
}

.services .serv-content .card .box {
  transition: all 0.3s ease;
}
.services .serv-content .card:hover .box {
  transform: scale(1.05);
}

.services .serv-content .card i {
  transition: color 0.3s ease;
  font-size: 50px;
  color: var(--blue);
}
.services .serv-content .card:hover i {
  color: var(--white);
}

.services .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
.services .serv-content .card p {
  text-align: justify;
}

/* skills section styling */

.skills .title::after {
  content: "what i know";
}

.skills .skills-content .column {
  width: calc(50% - 30px);
}
.skills .skills-content .left .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills .skills-content .left p {
  text-align: justify;
}
.skills .skills-content .left a {
  display: inline-block;
  background: var(--blue);
  color: var(--white);
  padding: 8px 16px;
  font-size: 18px;
  border: 2px solid var(--blue);
  margin-top: 20px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.skills .skills-content .left a:hover {
  color: var(--blue);
  background: none;
}

.skills .skills-content .right .bars {
  margin-bottom: 15px;
}
.skills .skills-content .right .info {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}
.skills .skills-content .right span {
  font-size: 18px;
  font-weight: 600;
}
.skills .skills-content .right .line {
  height: 5px;
  width: 100%;
  background-color: lightgray;
  position: relative;
  border-radius: 2px;
}
.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--blue);
  border-radius: 2px;
}
.skills .skills-content .right .html::before {
  width: 90%;
}
.skills .skills-content .right .css::before {
  width: 80%;
}
.skills .skills-content .right .js::before {
  width: 80%;
}
.skills .skills-content .right .react::before {
  width: 75%;
}
.skills .skills-content .right .node::before {
  width: 70%;
}
.skills .skills-content .right .mongo::before {
  width: 70%;
}

/* team section styling */

.card-container {
  position: relative;
  transition: all 0.4s ease;
}
.card-container.netflix:hover {
  position: relative;
  box-shadow: 2px 10px 15px 7px rgba(255, 0, 0, 0.4);
}
.card-container.hulu:hover {
  position: relative;
  box-shadow: 2px 10px 15px 5px rgba(0, 250, 0, 0.4);
}
.card-container.corona:hover {
  position: relative;
  box-shadow: 2px 10px 15px 5px rgba(0, 105, 0, 0.4);
}

.card-container-img {
  position: absolute;
  z-index: 999;
  transition: all 0.4s ease;
  height: 100%;
  border-radius: 6px;
}
.card-container:hover .card-container-img {
  opacity: 0;
  visibility: hidden;
}

.teams .title::after {
  content: "creative projects";
}
.teams .carousel .card {
  background-color: #222;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.teams .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.teams .carousel .card .text {
  font-size: 30px;
  font-weight: 500;
  margin: 10px 0 7px 0;
  border-bottom: 2px solid gray;
}
.teams .carousel .card a {
  display: block;
  padding: 25px 36px;
  text-align: justify;
  color: white;
  cursor: pointer;
}
.teams .carousel .card a:hover {
  text-decoration: underline;
}

.teams .carousel .card img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
}
.teams .carousel .card:hover img {
  border-color: #fff;
}
.owl-dots {
  text-align: center;
  margin-top: 20px;
}
.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid var(--blue) !important;
  transition: all 0.3s ease;
}
.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover {
  background: var(--blue) !important;
}

/* contact styling start*/
.contact .title::after {
  content: "get in touch ";
}
.contact .contact-content .column {
  width: calc(50% - 30px);
}
.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact .contact-content .left p {
  text-align: justify;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
}
.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info {
  margin-left: 30px;
}
.contact .contact-content .row i {
  font-size: 25px;
  color: var(--blue);
}
.contact .contact-content .info .head {
  font-weight: 600;
}
.contact .contact-content .info .sub-title {
  color: #333;
}
.contact .right form .fields {
  display: flex;
}
.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form .textarea {
  height: 80px;
  width: 100%;
}
.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .email {
  margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100% !important;
  border: 1px solid lightgray;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border: 1px solid var(--blue);
}

.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact .right form .button {
  height: 47px;
  width: 170px;
}
.contact .right form .button button {
  height: 100%;
  width: 100%;
  background: var(--blue);
  color: var(--white);
  border: 2px solid var(--blue);
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  transition: color 0.3s ease;
}
.contact .right form .button button:hover {
  background: var(--white);
  color: var(--blue);
}

/* footer styling */
footer {
  background: #111;
  padding: 20px 23px;
  color: #fff;
}
footer span a {
  color: var(--blue);
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
}
/* response media query start */
@media (max-width: 1300px) {
  .home .max-width {
    margin-left: 0;
  }
}
@media (max-width: 1104px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}
@media (max-width: 991px) {
  .max-width {
    transition: all 0.3s ease;
    padding: 0 50px;
  }
}
@media (max-width: 950px) {
  .menu-btn {
    display: block;
    z-index: 9999;
  }
  .menu-btn i.active::before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    padding-top: 80px;
    text-align: center;
    transition: all 0.3s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }
  .home .max-width .text-2 {
    font-size: 70px;
  }
  .home .max-width .text-3 {
    font-size: 35px;
  }
  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }
  .max-width {
    max-width: 800px;
  }
  .about .about-content .column {
    width: 100%;
  }

  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }
  .about .about-content .right {
    flex: 1;
  }
  .services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 10px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
  .home .max-width .text-2 {
    font-size: 60px;
  }
  .home .max-width .text-3 {
    font-size: 32px;
  }
  .home .home-content a {
    font-size: 20px;
  }
  .services .serv-content .card {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {
  .home .max-width .text-2 {
    font-size: 50px;
  }
  .home .max-width .text-3 {
    font-size: 27px;
  }
  .teams .title::after {
    content: "projects";
  }
}
@media (max-width: 350px) {
  .max-width {
    width: 100%;
  }
  .services .title::after {
    content: "services";
  }
  .skills .title::after {
    content: "skills";
  }
  .contact .title::after {
    content: "contact";
  }
}
